<h1> About </h1>
<div>
  <p> Welcome to the Jungle! Find sustainably sourced flora for your indoor and outdoor needs!
  Please be cautious that you do not introduce foreign plant life to your local surrounding. Happy planting!
  </p>
 </div>